# Исключаем VCS-файлы
.git
.gitignore

# Исключаем временные и скомпилированные файлы Python
__pycache__/
*.py[cod]
*$py.class

# Исключаем виртуальные окружения
.env
.venv
env/
venv/

# Исключаем файлы логов
*.log

# Исключаем каталоги сборки и распространения
build/
dist/

# Исключаем файлы настроек IDE и редакторов
.idea/
.vscode/

# Исключаем каталоги с моделями, которые больше не используются
models/

# Если есть отдельный файл для обработки аудио, который удаляется
audio_processor.py
